/* style.css */

.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-background-color: #e6f7f2;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #427FA3;
}

.button {
    -fx-background-color: #427FA3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #85B9D9;
}

.text-field, .text-area, .combo-box, .date-picker {
    -fx-background-color: white;
    -fx-border-color: #D9D9D9;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #85B9D5;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
